

:root {
    font-family: 'Andika', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

    /* BOOTSRAP */
}

body {margin: 0;}

header {
    background-color: #968960;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.box {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: #252222;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {color: #f5f5f5;}

.products {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    font-family:'Andika', sans-serif;
    font-size: small;
}

.products li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    /* background-color: hsl(46, 22%, 48%); */
    margin: 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #968960; /* width, style ,color */
    border-radius: 10px;
}

.products li:hover {
    color: #c78c19;
}

.products li:hover h2 {font-size: 32px;}

.products li:active{
    color: #968960;
}

.products h2 {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
}

.product-desc {
    font-size: 18px;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
}

.copyright {
    color: #f5f5f5;
    font-size: 13px;
    margin: 20px;
}

/* CONTACT PAGE */

form {
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    font-family: 'Montserrat', sans-serif;
}

.input-patern {
    display: block;
    margin: 0 0 20px; 
    padding: 10px 25px;
    width: 70%;
}

.checks-radios {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.chechbox {
    margin: 20px 0;
}

.send {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5;
    background-color: #968960;
    border: none;
    border-radius: 8px;
    transition: 0.5s all;
    cursor: pointer;
}

.send:hover {
    background-color: #c78c19;
    transform: scale(1.1);
}

.chechbox {
    width: 40%;
}

#button-form {
    color: #968960;
}

.btn {background-color: #c78c19;}

.btn-outline-primary {
    border-color: #c78c19;
}

/* .form-check {
    padding-top: 20px;
    padding-bottom: 20px;
} */

#last-check {
    padding-top: 20px;
    padding-bottom: 30px;
}


.btn ,.btn-light {
    width: 40%;
    padding: 15px 0;
    color: #968960;
}

table {
    margin: 40px 40px;
    width: 40%;
}

thead {
    background:#252222;
    color: #f5f5f5;
}

/* CSS iindex HOME */

.banner {
    width: 100%;

}

.main {
    padding: 3em 0;
    background-color: #fefefe;
    width: 940px;
    margin: 0 auto;
}

.main-tittle {
    text-align: center;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 1em;
    clear: left;
}

.main p {
    margin: 0 0 1em;
    font-family: 'Open Sans', sans-serif;
}

.main strong {
    font-weight: bold, 600;

}

.main em {
    font-style: italic;
}

.utensils {
    width: 180px;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 50%;
}

.map {
    padding: 3em 0;
    background: rgb(254,254,254);
    background: linear-gradient(180deg, rgba(254,254,254,1) 6%, rgba(225,232,237,1) 27%, rgba(150,137,96,1) 99%);
}

.map p {
    margin: 0 0 2em;
    text-align: center;
}

.map-content {
    width: 940px;
    margin: 0 auto;
}

.dif-content {
    width: 640px;
    margin: 0 auto;
}

.dif-list { 
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
}

.items:first-child {
    font-weight: bold;
}

.diferencials {
    padding: 3em 0;
    background: rgb(254,254,254);
    background: linear-gradient(360deg, rgba(254,254,254,1) 6%, rgba(225,232,237,1) 27%, rgba(150,137,96,1) 99%);
}

.map-content {
    width: 940px;
    margin: 0 auto;
}

.img-dif {
    width: 60%; 
    transition: 400ms;
    box-shadow: 8px 8px 30px 10px #252222;
}

.img-dif:hover {
    width: 60%;
    opacity: 60%;
}

.video {
    width: 560px;
    margin: 1em auto;
    padding-top: 40px;
}

/* *** *** QUERIES *** *** */

@media screen and (max-width: 480px){

    h1 { text-align: center; }
    nav { position: static; }

    .box, .main, .map-content, .video {
        width: auto;
    }
    .dif-list{ width: 100%;}
} 

@media screen and (max-width: 860px){

    h1 { text-align: center; }
    nav { position: static; }

    .box, .main, .map-content, .video {
        width: auto;
    }
    .dif-list{ width: 100%;}
} 




